body {
    font-family: "PT Sans","Helvetica","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #333;
    background-color: #f6f6f6;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    height: 30px;
    line-height: 1.3;
    margin-top: 20px;
}

   a:hover {
    color:#6C8CD5; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }

header{
    background-color: #007bff;
    color: white;
}

.logo img{
    width: 20px;
    height: auto;
}

li {
    list-style-type: none; /* Убираем маркеры */
    margin-right: 10px;
   }


.nav-menu{
    padding: 5px;
}
.nav-menu li a{
    color: white;
}
.nav-menu a:hover {
    color:; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.menu{
    background-color: white;
    line-height: 38px;
    padding-top:11px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.menu .log a{
    color: #705057;
}


.presearch .ui-input-search__input {
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-appearance: none;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
.ui-input-search__input {
    color: #333;
    background: #eaeaea;
    padding: 0 94px 0 12px;
    height: 34px;
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: background .3s;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
input[type="search" i] {
    -webkit-appearance: searchfield;
    box-sizing: border-box;
    padding: 1px;
}
user agent stylesheet
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.presearch .ui-input-search_presearch {
    height: auto;
    font-size: 16px;
}
.ui-input-search {
    position: relative;
    background: #eaeaea;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    transition: background .3s;
}

/* container glavnaya stranitsa */
.container {

    margin-left: auto;
    margin-right: auto;
    min-height: 75%;

}

.category {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    border: solid 1px transparent;
    
}

.slide{
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    border: solid 1px transparent;  
}

.top-menu{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    border: solid 1px transparent;   
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.top-menu a{
    color: #343a40;
}
.top-menu a:hover {
    color:#6C8CD5; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }

.sale img{
    border-radius: 5px;
    margin-top: 10px;
}   

.nav-category{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    border: solid 1px transparent;
}


.top-new
    {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
        border: solid 1px transparent;   
        margin: 15px;
        padding: 5px;
        
    }

    .btn-primary{
        width: 100%;
    }

    .formm{
        padding: 5px;
    }

    .tab-content{
        padding-top: 5px;
    }

    .form-group {
        margin-bottom: 10px;
    }

        .homepage-auth__title {
            font-size: 18px;
            margin-bottom: 8px;
        }

        .homepage-auth__description {
            font-size: 14px;
            margin-bottom: 8px;
        }
.cat-menu{
    height: 56px;
    padding: 0 24px;
    width: calc(100% + 2px);
    margin: 0 -1px;
    font-weight: 700;
}
.cat-menu:hover {
    opacity: 0.6;
  }


  #grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    .card{
        border: 1px solid rgba(255, 255, 255, 0);
    }


    #grid_3tv { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }  
  
  #gridful{
      display: grid;
      grid-template-columns: 1fr 1fr;
  } 
  
  .wrab{

        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: 100px 100px;
  }


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    padding-top: 10px;
  }
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end:4;
    grid-row-start:1;
  }

  .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    border: solid 1px transparent;

    
}

.cat_t{
    background-color: white;
    margin-top: 10px;
}



.cardimages{
    background-size: cover;
    box-shadow: #233444 0 220px 170px -60px inset;
    color: #fff;
}

.news{
    margin-top: 5px;
}

.news a{
    color: white;
}

.news a :hover{
    color: dodgerblue;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.25rem;
    text-align: center;
}

.t_2{
    padding: 10px;
}

.slider-product-item__title {
    margin-top: 8px;
    height: 40px;
    font-size: 16px;
}

.footer{
 background-color: #333;    
 margin-top: 15px;
 color: white;
}

.pad{
    padding-top: 15px;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(255, 255, 255, 0);
    border-top: 1px solid #007bff;
}

/* menu*/

.topnav {
    overflow: hidden;
    background-color:#fff;
    display: hiden;
    border-radius:8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    border: solid 1px transparent; 
  }
  
  .topnav a {
    display: block;
    color: #495057;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
  }
  
  .topnav a:hover {
    color: #007bff;
  }
  
  .topnav a.active {
    background-color: #007bff;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .fa {
      color: white;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
        position: absolute;
        right: 10%;
        top: 25%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.log a:hover{
    color: #007bff;
  }